# Exploratory Data Analysis of the new Merged customer Dataset

In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
#import plotly

In [ ]:
data = pd.read_csv("/Users/dev/python1_cogitate/outputs/customer_analytics_merged.csv")

,customer_id,name,age,email,city,registration_date,customer_tenure_days,total_policies,active_policies,avg_annual_premium,...,policy_types,policy_ids,total_claims,total_claimed_amount,avg_claim_amount,fraud_detected,detection_count,avg_confidence,claims_per_policy,fraud_rate
22,23,Richard Rivera,54,customer23@email.com,New York,2021-10-08,1401,3.0,3.0,3485.100000,...,{'HEALTH': 3},"[205, 240, 267]",2.0,23639.32,11819.660000,NaN,0.0,0.00,0.666667,0.0
42,43,Sandra Martinez,32,customer43@email.com,Chicago,2021-03-31,1592,3.0,3.0,1285.296667,...,"{'LIFE': 1, 'AUTO': 1, 'HOME': 1}","[210, 249, 265]",5.0,79532.66,10175.886667,False,0.0,0.00,1.666667,0.0
30,31,Laura Jones,64,customer31@email.com,Phoenix,2022-08-13,1092,1.0,1.0,1759.830000,...,{'AUTO': 1},[241],3.0,36798.19,12266.063333,False,0.0,0.00,3.000000,0.0
17,18,Joshua Taylor,59,customer18@email.com,New York,2021-11-30,1348,0.0,0.0,0.000000,...,NaN,NaN,0.0,0.00,0.000000,NaN,0.0,0.00,NaN,NaN
28,29,Daniel Wilson,70,customer29@email.com,Philadelphia,2022-06-16,1150,3.0,2.0,1417.523333,...,"{'HOME': 2, 'LIFE': 1}","[201, 244, 258]",5.0,20350.73,3599.590000,False,0.0,0.00,1.666667,0.0
15,16,Michael Garcia,61,customer16@email.com,Houston,2022-05-06,1191,1.0,1.0,1076.360000,...,{'HOME': 1},[263],3.0,3970.40,1323.466667,False,0.0,0.00,3.000000,0.0
32,33,George Thomas,25,customer33@email.com,Los Angeles,2020-02-04,2013,1.0,1.0,1206.550000,...,{'AUTO': 1},[217],2.0,23448.41,11724.205000,True,1.0,0.88,2.000000,0.5
29,30,Sarah Hall,37,customer30@email.com,Philadelphia,2020-04-01,1956,2.0,1.0,4411.855000,...,"{'BUSINESS': 1, 'HEALTH': 1}","[235, 251]",1.0,5720.70,5720.700000,NaN,0.0,0.00,0.500000,0.0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customer_id           50 non-null     int64
 1   name                  50 non-null     object
 2   age                   50 non-null     int64
 3   email                 50 non-null     object
 4   city                  50 non-null     object
 5   registration_date     50 non-null     object
 6   customer_tenure_days  50 non-null     int64
 7   total_policies        50 non-null     float64
 8   active_policies       50 non-null     float64
 9   avg_annual_premium    50 non-null     float64
 10  total_coverage        50 non-null     float64
 11  policy_types          41 non-null     object
 12  policy_ids            41 non-null     object
 13  total_claims          50 non-null     float64
 14  total_claimed_amount  50 non-null     float64
 15  avg_claim_amount      50 non-null     float64
 16  fraud_detected        24 non-null     object
 17  detection_count       50 non-null     float64
 18  avg_confidence        50 non-null     float64
 19  claims_per_policy     41 non-null     float64
 20  fraud_rate            36 non-null     float64
dtypes: float64(11), int64(3), object(7)
memory usage: 8.3+ KB